{% extends 'team.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/confirm_contract_structure.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="tab_area" id="third_tab_area">

    </div>

    <div id="display_area">
        <div id="setconstr_header_area">
            <h4 id='player_label' style="color: blue;">{{ player.player }}</h4><br>
            <p>Auction won at ${{ player.var_d1 }}</p>
            <p id="sb_p">Signing Bonus: ${{ sb|floatformat:2 }} per year</p>
            <p id="sal_p">Salary: ${{ salary|floatformat:2 }} per year</p><br>
            <p>Max Years: {{ max_years }}</p>
        </div>

        <div id='setconstr_instructions_area'>
            {{ instructions|linebreaks }}
        </div>

        <div id="setconstr_contract_area">
            <div>
                <button id="setconstr_add_year_button" type="button" style="float: right; margin-right: 20%">Add Year</button>
                <button id="setconstr_remove_year_button" type="button" style="float: right; margin-right: 20px">Remove Year</button>
            </div>
            <br><br><br>
            <table style="table-layout: fixed; width: 80%; height: auto">
                <thead>
                    <tr>
                        <th style="width: 25%; text-align: center">Year</th>
                        <th style="width: 25%; text-align: center">Total Cost</th>
                        <th style="width: 25%; text-align: center">Signing Bonus</th>
                        <th style="width: 25%; text-align: center">Salary</th>
                    </tr>
                </thead>
                <tbody id="setconstr_table_body">

                </tbody>
            </table>
            <table style="table-layout: fixed; width: 80%; margin-top: 30px">
                <tbody id="setconstr_totals_body">
                    <tr>
                        <td class='setconstr_cell' style="width: 25%; text-align: center">Totals</td>
                        <td class='setconstr_cell' id="setconstr_totals_total_cost" style="width: 25%; text-align: center">total cost</td>
                        <td class='setconstr_cell' id="setconstr_totals_sb" style="width: 25%; text-align: center">sb</td>
                        <td class='setconstr_cell' id="setconstr_totals_salary" style="width: 25%; text-align: center">salary</td>
                    </tr>
                    <tr>
                        <td class='setconstr_cell' style="width: 25%; text-align: center"></td>
                        <td class='setconstr_cell' style="width: 25%; text-align: center"></td>
                        <td class='setconstr_cell' style="width: 25%; text-align: center"></td>
                        <td class='setconstr_cell' id="setconstr_totals_message" style="width: 25%; text-align: center"></td>
                    </tr>
                    <tr>
                        <td style="width: 25%; text-align: center"></td>
                        <td style="width: 25%; text-align: center"></td>
                        <td style="width: 25%; text-align: center"></td>
                        <td style="width: 25%; text-align: center; padding-top: 20px">
                            <button id='setconstr_cancel_button' type="button" style="display: inline-block;color: red">Cancel</button>
                            <button id="setconstr_submit_button"  type="button" style="margin-left: 20px; color: blue">Submit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="setconstr_cap_tables_area">
            <table style="table-layout: fixed; width: 100%; margin-top: 50px">
                <thead>
                    <tr>
                        <th class='player_interaction_cells' style="text-align: center; width: 25%;"></th>
                        <th class='player_interaction_cells' style="text-align: center; width: 25%;">Total Players Costs</th>
                        <th class='player_interaction_cells' style="text-align: center; width: 25%;">Cap Penalties</th>
                        <th class='player_interaction_cells' style="text-align: center; width: 25%;">Cap Space</th>
                    </tr>
                </thead>
                <tbody id="player_interaction_2">

                </tbody>
            </table>
            <br>
            The above numbers are off one year, they will be correct when the league years kicks over to 2016
        </div>
    </div>

    <div id="vw_1" hidden>
        <table>
            <tr>
                <td id="vw_1-1">{{ sb|floatformat:2 }}</td>
                <td id="vw_1-2">{{ salary|floatformat:2 }}</td>
                <td id="vw_1-3">{{ max_years }}</td>
            </tr>
        </table>
    </div>

    <div id="vw_2" hidden>
        <table>
            <tr>
                <td id="vw_2-1">{{ cap_dict.yr1_costs }}</td>
                <td id="vw_2-2">{{ cap_dict.yr2_costs }}</td>
                <td id="vw_2-3">{{ cap_dict.yr3_costs }}</td>
                <td id="vw_2-4">{{ cap_dict.yr4_costs }}</td>
                <td id="vw_2-5">{{ cap_dict.yr5_costs }}</td>
                <td id="vw_2-6">{{ cap_dict.yr1_pen }}</td>
                <td id="vw_2-7">{{ cap_dict.yr2_pen }}</td>
                <td id="vw_2-8">{{ cap_dict.yr3_pen }}</td>
                <td id="vw_2-9">{{ cap_dict.yr4_pen }}</td>
                <td id="vw_2-10">{{ cap_dict.yr5_pen }}</td>
                <td id="vw_2-11">{{ cap_dict.yr1_space }}</td>
                <td id="vw_2-12">{{ cap_dict.yr2_space }}</td>
                <td id="vw_2-13">{{ cap_dict.yr3_space }}</td>
                <td id="vw_2-14">{{ cap_dict.yr4_space }}</td>
                <td id="vw_2-15">{{ cap_dict.yr5_space }}</td>
            </tr>
        </table>
    </div>

    <div id="vw_3" hidden>
        {% for x in year_list %}
            <p>{{ x }}</p>
        {% endfor %}
    </div>

{% endblock %}
