{% extends 'admin/commish_office.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/settings.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="tab_area" id="second_tab_area">

    </div>

    <div class="tab_area" id="third_tab_area">

    </div>

    <div id="display_area">
        <div id="commish_office_first_column">
            <div>
                <h5 style="display: inline-block">Auction: Default Clock (hours) &nbsp&nbsp</h5>
                <input type="text" id="auction_default_clock_input" style="display: inline-block" size="6" value="{{ default_auction_clock }}"/>
                <button type="submit" id='auction_default_clock_submit' style="display: inline-block">Submit</button>
                <p style="display: inline-block; color: blue" id='auction_default_clock_message'>Here</p>
            </div>
            <br>
            <div>
                <h5 style="display: inline-block">New Auctions  &nbsp&nbsp</h5>
                {% if new_auctions == 0 %}
                    <input type="radio" style="display: inline-block" name="new_auctions-onoff" value="on"> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="new_auctions-onoff" value="off" checked> &nbsp&nbspOff</td>
                {% else %}
                    <input type="radio" style="display: inline-block" name="new_auctions-onoff" value="on" checked> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="new_auctions-onoff" value="off"> &nbsp&nbspOff</td>
                {% endif %}
            </div>
            <br>
            <div>
                <h5 style="display: inline-block">Extensions  &nbsp&nbsp</h5>
                {% if ext_switch == 1 %}
                    <input type="radio" style="display: inline-block" name="extensions-onoff" value="on" checked> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="extensions-onoff" value="off"> &nbsp&nbspOff</td>
                {% else %}
                    <input type="radio" style="display: inline-block" name="extensions-onoff" value="on"> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="extensions-onoff" value="off" checked> &nbsp&nbspOff</td>
                {% endif %}
            </div>
            <br>
            <div>
                <h5 style="display: inline-block">Commish Periodic Alerts  &nbsp&nbsp</h5>
                {% if commish_periodic == 1 %}
                    <input type="radio" style="display: inline-block" name="commish_periodic-onoff" value="on" checked> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="commish_periodic-onoff" value="off"> &nbsp&nbspOff</td>
                {% else %}
                    <input type="radio" style="display: inline-block" name="commish_periodic-onoff" value="on"> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="commish_periodic-onoff" value="off" checked> &nbsp&nbspOff</td>
                {% endif %}
            </div>
            <br>
            <div>
                <h5 style="display: inline-block">Cut Season (Off or In-)  &nbsp&nbsp</h5>
                {% if cut_season == 0 %}
                    <input type="radio" style="display: inline-block" name="cut_season-onoff" value="off" checked> &nbsp&nbspOffseason</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="cut_season-onoff" value="in"> &nbsp&nbspIn-Season</td>
                {% else %}
                    <input type="radio" style="display: inline-block" name="cut_season-onoff" value="off"> &nbsp&nbspOffseason</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="cut_season-onoff" value="in" checked> &nbsp&nbspIn-Season</td>
                {% endif %}
            </div>
            <br>
            <div>
                <h5 style="display: inline-block">Include Impending Free Agents in Free Agent List  &nbsp&nbsp</h5>
                {% if include_impending == 1 %}
                    <input type="radio" style="display: inline-block" name="include_impending-onoff" value="on" checked> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="include_impending-onoff" value="off"> &nbsp&nbspOff</td>
                {% else %}
                    <input type="radio" style="display: inline-block" name="include_impending-onoff" value="on"> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="include_impending-onoff" value="off" checked> &nbsp&nbspOff</td>
                {% endif %}
            </div>
        </div>

        <div id="commish_office_second_column">
            <table style="table-layout: fixed; width: 100%">
                <thead>
                    <tr>
                        <th style="width: 15%">User</th>
                        <th style="width: 85%">Last Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in last_action_list %}
                        <tr>
                            <td>{{ x.user }}</td>
                            <td>{{ x.last_action }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="commish_office_third_column">
            <button type="button" id="configure_draft" style="font-size: small">Configure Rookie Draft</button>
            <br><br><br><br>
            <div>
                <h5 style="display: inline-block">Draft  &nbsp&nbsp</h5>
                {% if draft_switch == 1 %}
                    <input type="radio" style="display: inline-block" name="draft-onoff" value="on" checked> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="draft-onoff" value="off"> &nbsp&nbspOff</td>
                {% else %}
                    <input type="radio" style="display: inline-block" name="draft-onoff" value="on"> &nbsp&nbspOn</td>
                    <input type="radio" style="display: inline-block; margin-left: 20px" name="draft-onoff" value="off" checked> &nbsp&nbspOff</td>
                {% endif %}
            </div>
            <div>
                <h5 style="display: inline-block">Draft Clock (minutes) &nbsp&nbsp</h5>
                <input type="text" id="draft_clock_input" style="display: inline-block" size="6" value="{{ default_draft_clock }}"/>
                <button type="submit" id='draft_clock_submit' style="display: inline-block">Submit</button>
            </div>
            <div>
                <h5 style="display: inline-block">Current Clock End &nbsp&nbsp</h5>
                <input type="datetime" id="clock_end_input" style="display: inline-block" size="20" value="{{ draft_clock_end }}"/>
                <button type="submit" id='clock_end_submit' style="display: inline-block">Submit</button>
            </div>
            <div>
                <h5 style="display: inline-block">Clock Suspension Start &nbsp&nbsp</h5>
                <select id="clock_suspend_start" style="display: inline-block">
                    {% if suspension_start == '6' %}
                        <option value="6" selected>6 pm</option>
                    {% else %}
                        <option value="6">6 pm</option>
                    {% endif %}
                    {% if suspension_start == '7' %}
                        <option value="7" selected>7 pm</option>
                    {% else %}
                        <option value="7">7 pm</option>
                    {% endif %}
                    {% if suspension_start == '8' %}
                        <option value="8" selected>8 pm</option>
                    {% else %}
                        <option value="8">8 pm</option>
                    {% endif %}
                    {% if suspension_start == '9' %}
                        <option value="9" selected>9 pm</option>
                    {% else %}
                        <option value="9">9 pm</option>
                    {% endif %}
                    {% if suspension_start == '10' %}
                        <option value="10" selected>10 pm</option>
                    {% else %}
                        <option value="10">10 pm</option>
                    {% endif %}
                    {% if suspension_start == '11' %}
                        <option value="11" selected>11 pm</option>
                    {% else %}
                        <option value="11">11 pm</option>
                    {% endif %}
                    {% if suspension_start == '12' %}
                        <option value="12" selected>12 am</option>
                    {% else %}
                        <option value="12">12 am</option>
                    {% endif %}
                </select>
            </div>
            <div>
                <h5 style="display: inline-block">Clock Suspension End &nbsp&nbsp</h5>
                <select id="clock_suspend_end" style="display: inline-block">
                    {% if suspension_end == '6' %}
                        <option value="6" selected>6 am</option>
                    {% else %}
                        <option value="6">6 am</option>
                    {% endif %}
                    {% if suspension_end == '7' %}
                        <option value="7" selected>7 am</option>
                    {% else %}
                        <option value="7">7 am</option>
                    {% endif %}
                    {% if suspension_end == '8' %}
                        <option value="8" selected>8 am</option>
                    {% else %}
                        <option value="8">8 am</option>
                    {% endif %}
                    {% if suspension_end == '9' %}
                        <option value="9" selected>9 am</option>
                    {% else %}
                        <option value="9">9 am</option>
                    {% endif %}
                    {% if suspension_end == '10' %}
                        <option value="10" selected>10 am</option>
                    {% else %}
                        <option value="10">10 am</option>
                    {% endif %}
                    {% if suspension_end == '11' %}
                        <option value="11" selected>11 am</option>
                    {% else %}
                        <option value="11">11 am</option>
                    {% endif %}
                    {% if suspension_end == '12' %}
                        <option value="12" selected>12 pm</option>
                    {% else %}
                        <option value="12">12 pm</option>
                    {% endif %}
                </select>
            </div>
            <br>
            <div>
                <h5 style="display: inline-block">Skip to... &nbsp&nbsp</h5>
                <input type="text" id="skip_to_pick_input" style="display: inline-block" size="4" value=""/>
                <button type="submit" id='skip_to_pick_submit' style="display: inline-block">pick. GO!</button>
            </div>
            <br>
            <div>
                <h5 style="display: inline-block">Manually Enter Draft Pick &nbsp&nbsp</h5>
                <select id="manual_pick_input">
                    <option value="_pass_">**Pass Pick**</option>
                    {% for p in all_players %}
                        <option value="{{ p.id }}">{{ p.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" id='manual_pick_submit' style="display: inline-block">GO!</button>
            </div>
            <br>
            <div>
                <h5 style="display: inline-block">Revert Draft Pick &nbsp&nbsp</h5>
                <input type="text" id="revert_pick_input" style="display: inline-block" size="4" value=""/>
                <button type="submit" id='revert_pick_submit' style="display: inline-block">GO!</button>
            </div>
        </div>
        <br><br>
        <div id="draft_grid">
            <table style="width: 35%">
                {% for pick in all_draft_picks_with_autopick_settings %}
                    <tr>
                        <td style="padding: 6px 6px 6px 6px">{{ pick.pick_overall }}</td>
                        <td style="padding: 6px 6px 6px 6px">{{ pick.owner }}</td>
                        <td style="padding: 6px 6px 6px 6px">{{ pick.player_selected }}</td>
                        <td style="padding: 6px 6px 6px 6px">{{ pick.autopick_delay }}</td>
                        <td style="padding: 6px 6px 6px 6px">{{ pick.autopick_action }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}