{% extends 'admin/commish_office.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/settings.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="tab_area" id="second_tab_area">

    </div>

    <div class="tab_area" id="third_tab_area">

    </div>

    <div id="display_area">
        <div>
            <h5 style="display: inline-block">Auction: Default Clock (hours) &nbsp&nbsp</h5>
            <input type="text" id="auction_default_clock_input" style="display: inline-block" size="6" value="{{ default_auction_clock }}"/>
            <button type="submit" id='auction_default_clock_submit' style="display: inline-block">Submit</button>
            <p style="display: inline-block; color: blue" id='auction_default_clock_message'>Here</p>
        </div>
        <br>
        <div>
            <h5 style="display: inline-block">Extensions  &nbsp&nbsp</h5>
            {% if ext_switch == 1 %}
                <input type="radio" style="display: inline-block" name="extensions-onoff" value="on" checked> &nbsp&nbspOn</td>
                <input type="radio" style="display: inline-block; margin-left: 20px" name="extensions-onoff" value="off"> &nbsp&nbspOff</td>
            {% else %}
                <input type="radio" style="display: inline-block" name="extensions-onoff" value="on"> &nbsp&nbspOn</td>
                <input type="radio" style="display: inline-block; margin-left: 20px" name="extensions-onoff" value="off" checked> &nbsp&nbspOff</td>
            {% endif %}
        </div>
        <br>
        <div>
            <h5 style="display: inline-block">Commish Periodic Alerts  &nbsp&nbsp</h5>
            {% if commish_periodic == 1 %}
                <input type="radio" style="display: inline-block" name="commish_periodic-onoff" value="on" checked> &nbsp&nbspOn</td>
                <input type="radio" style="display: inline-block; margin-left: 20px" name="commish_periodic-onoff" value="off"> &nbsp&nbspOff</td>
            {% else %}
                <input type="radio" style="display: inline-block" name="commish_periodic-onoff" value="on"> &nbsp&nbspOn</td>
                <input type="radio" style="display: inline-block; margin-left: 20px" name="commish_periodic-onoff" value="off" checked> &nbsp&nbspOff</td>
            {% endif %}
        </div>

    </div>

{% endblock %}