{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/user_change_password.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="user_password_page_div">
        <fieldset>
            <legend>Change Username</legend>
            Username: <br><input type="text" id="change_username_text" size="16" value='{{ username }}' />
            <br><br>
            <input type="submit" value="submit" id="change_username_submit" />
            <br><p style="color: red" id="change_username_wait_message"></p>
        </fieldset>
        <div style="height: 80px;"></div>
        <fieldset>
            <legend>Change Password</legend>
            Current Password: <br><input type="password" id="change_password_text_old" value="" size="16" />
            <br>
            New Password: <br><input type="password" id="change_password_text_new" value="" size="16" />
            <br>
            Re-Enter New Password: <br><input type="password" id="change_password_text_new_retype" value="" size="16" />
            <br><br>
            <input type="submit" value="submit" id="change_password_submit"/>
        </fieldset>
        <br><br>
        <p style='color: red' id="error_message_user_change_password">There is no user password recovery; only the admin can do it.</p>
    </div>
{% endblock %}