{% extends 'league.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/league_cap_summary.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="tab_area" id="third_tab_area">

    </div>

    <div id="display_area">
        <div class="cap_summary_datagrid">
            <table>
                <thead>
                    <tr>
                        <th width="100px"></th>
                        <th width="60px" style="text-align: center">Players</th>
                        <th width="100px" style="text-align: center">Total Salary</th>
                        <th width="100px" style="text-align: center">Current Cap Penalty</th>
                        <th width="100px" style="text-align: center">Cap Space</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a,b,c,d,e in summary_data %}
                        <tr>
                            <td>{{ a }}</td>
                            <td style="text-align: center">{{ b }}</td>
                            <td style="text-align: center">${{ c }}</td>
                            <td style="text-align: center">${{ d }}</td>
                            <td style="text-align: center">${{ e }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}