{% extends 'league.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/league_performance.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="tab_area" id="third_tab_area">
        {% if request.path == '/league/extensions' %}
            <a href="/league/extensions" class="third_tab_button_team" style="background-color: #2d99d4; color: white">Extensions</a>
        {% else %}
            <a href="/league/extensions" class="third_tab_button_team">Extensions</a>
        {% endif %}

        {% if request.path == '/league/adp_info' %}
            <a href="/league/adp_info" class="third_tab_button_team" style="background-color: #2d99d4; color: white">ADP Info</a>
        {% else %}
            <a href="/league/adp_info" class="third_tab_button_team">ADP Info</a>
        {% endif %}

        {% if request.path == '/league/performance_info' %}
            <a href="/league/performance_info" class="third_tab_button_team" style="background-color: #2d99d4; color: white">Performance Info</a>
        {% else %}
            <a href="/league/performance_info" class="third_tab_button_team">Performance Info</a>
        {% endif %}
    </div>

    <div id="display_area">
        <div class="performance_yr_1_datagrid">
            <table>
                <thead>
                    <tr>
                        <th width="15%" style="text-align: center">Rank</th>
                        <th width="15%" style="text-align: center">Pos</th>
                        <th width="45%">Player</th>
                        <th width="25%" style="text-align: center">2016 Points</th>
                    </tr>
                </thead>
                <tbody id="performance_yr_1_body">
                    {% for x in qb_yr1_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in rb_yr1_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in wr_yr1_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in te_yr1_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in def_yr1_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in k_yr1_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="performance_yr_2_datagrid">
            <table>
                <thead>
                    <tr>
                        <th width="15%" style="text-align: center">Rank</th>
                        <th width="15%" style="text-align: center">Pos</th>
                        <th width="45%">Player</th>
                        <th width="25%" style="text-align: center">2015 Points</th>
                    </tr>
                </thead>
                <tbody id="performance_yr_2_body">
                    {% for x in qb_yr2_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in rb_yr2_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in wr_yr2_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in te_yr2_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in def_yr2_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                    {% for x in k_yr2_list %}
                        <tr>
                            <td style="text-align: center">{{ x.rank }}</td>
                            <td style="text-align: center">{{ x.position }}</td>
                            <td>{{ x.player }}</td>
                            <td style="text-align: center">{{ x.points }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}