{% extends 'league.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/team_transactions.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div id="display_area" style="overflow-y: auto; height: 85%;">
        <div id="team_trans_date_filters_area">
            <div class="team_trans_date_button" id='filter_24_hours_div' style="margin-left: 60px; border: 2px solid white"><button type="button" id="filter_24_hours_button">24 Hours</button></div>
            <div class="team_trans_date_button" id="filter_48_hours_div" style="margin-left: 30px; border: 2px solid white"><button type="button" id="filter_48_hours_button">48 Hours</button></div>
            <div class="team_trans_date_button" id="filter_72_hours_div" style="margin-left: 30px; border: 2px solid white"><button type="button" id="filter_72_hours_button">72 Hours</button></div>
            <div class="team_trans_date_button" id="filter_week_div" style="margin-left: 30px; border: 2px solid white"><button type="button" id="filter_week_button">Week</button></div>
            <div class="team_trans_date_button" id="filter_month_div" style="margin-left: 30px; border: 2px solid white"><button type="button" id="filter_month_button">Month</button></div>
            <p class="team_trans_date_button" style="margin-left: 50px">Start Date: <input type="text" size='8' id="datepicker_start"></p>
            <p class="team_trans_date_button" style="margin-left: 10px">End Date: <input type="text" size='8' id="datepicker_end"></p>
            <select class="team_trade_log_date_button" id="league_trans_log_team_select" style="margin-right: 10px; float: right">
                <option selected>All Teams</option>
                {% for x in team_list %}
                    <option>{{ x.internal_name }}</option>
                {% endfor %}
            </select>
            <p class="team_trade_log_date_button" style="float: right">Filter By Team: &nbsp&nbsp</p>
        </div>

        <div class="team_transactions_datagrid" style="height: 90%;">
            <table>
                <thead>
                    <tr>
                        <th width="15%">Date</th>
                        <th width="15%">Player</th>
                        <th width="15%">Transaction Type</th>
                        <th width="13%">Team(s)</th>
                        <th width="42%">Details</th>
                    </tr>
                </thead>
                <tbody id="team_transactions_body">

                </tbody>
            </table>
        </div>

        <div id="team_trans_cat_filters_area">
            <div style="text-align: center">
                <button id="check_all" style="display: inline-block; font-size: x-small">Check All</button>
                <button id="uncheck_all" style="display: inline-block; font-size: x-small">Uncheck All</button>
            </div>
            <br>
            <table style="table-layout: fixed; width: 100%;">
                {% for x in trans_list %}
                    <tr style="height: 50px">
                        <td style="width: 20%;"></td>
                        <td style="width: 70%;">{{ x }}</td>
                        <td style="width: 10%;"><input type="checkbox" checked/></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div id="vw_1" hidden>
        {% for x in transactions %}
            <table>
                <tr>
                    <td id="vw_1-1">{{ x.date }}</td>
                    <td id="vw_1-2">{{ x.player }}</td>
                    <td id="vw_1-3">{{ x.team1 }}</td>
                    <td id="vw_1-4">{{ x.team2 }}</td>
                    <td id="vw_1-5">{{ x.transaction_type }}</td>
                    <td id="vw_1-6">{{ x.var_d1 }}</td>
                    <td id="vw_1-7">{{ x.var_d2 }}</td>
                    <td id="vw_1-8">{{ x.var_d3 }}</td>
                    <td id="vw_1-9">{{ x.var_i1 }}</td>
                    <td id="vw_1-10">{{ x.var_i2 }}</td>
                    <td id="vw_1-11">{{ x.var_t1 }}</td>
                    <td id="vw_1-12">{{ x.var_t2 }}</td>
                    <td id="vw_1-13">{{ x.var_t3 }}</td>
                    <td id="vw_1-14">{{ x.date.isoformat }}</td>
                </tr>
            </table>
        {% endfor %}
    </div>
{% endblock %}