{% extends 'admin/commish_office.html' %}

{% load staticfiles %}

{% block head %}
    <script src="{% static 'js/commish_view_model.js' %}"></script>
{% endblock %}

{% block content %}
    {% csrf_token %}

    <div class="tab_area" id="second_tab_area">

    </div>

    <div id="display_area">
        <select id="player_select">
            {% for x in players %}
                <option>{{ x.name }}</option>
            {% endfor %}
        </select>
        <button class="commish_view_model_button" id="view_model_player">Player</button>
    </div>

{% endblock %}