<!DOCTYPE html>

{% load staticfiles %}

<!-- List of html for which nav_bar must be copied: league, team, draft, commish_office, batch, settings  -->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dynasty League</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{% static 'js/dropdown_delay.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/dyno.css' %}">
        <script src="{% static 'js/dyno.js' %}"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-74107455-1', 'auto');
          ga('send', 'pageview');

        </script>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <nav class="nav_bar">
            {% if user.is_authenticated %}
                <a href="/logout" class="nav_button" id="logout_link" style="padding-left: 15px">Logout</a>
                <span style="font-size: 1.2em; float: right; padding-top: 11px; color: white">{{ user.get_username }}</span>
            {% else %}
                <a href="/login" class="nav_button" id="login_link">Login</a>
            {% endif %}
            <i class="glyphicon glyphicon-user" style="float: right; padding-top: 14px; padding-right: 5px; color: white"></i>

            <div class="dropdown" style="float: right; padding-right: 80px">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white"><i class="glyphicon glyphicon-link" style="padding-right: 8px"></i>Quick Links <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if request.user.is_staff %}
                        <li><a href="/admin">Admin</a></li>
                        <li><a href="/batch">Batch</a></li>
                        <li class="divider"></li>
                        <li><a href="/commish_office"><i class="glyphicon glyphicon-briefcase" style="padding-right: 8px"></i>Commish's Office</a></li>
                        <li class="divider"></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="/league/free_agents">Free Agent List</a></li>
                        <li><a href="/league/extensions">Extensions</a></li>
                        <li><a href="/team/pending_transactions">Pending Transactions</a></li>
                        <li><a href="/team/manage_alerts">Manage Alerts</a></li>
                        <li class="divider"></li>
                        <li><a href="/team/trade_log">Trade Log</a></li>
                        <li><a href="/team/trade">View Assets/Propose Trade</a></li>
                        <li class="divider"></li>
                    {% endif %}
                    <li><a href="/feature_list">Feature List & Changelog</a></li>
                    <li class="divider"></li>
                    <li><a href="/bug_tracking">Bug Tracking</a></li>
                    <li><a href="/feature_request">Feature Request</a></li>
                </ul>
            </div>

            <a href="/" class="nav_button" id="home_button" style="float: left; padding-left: 20px"><i class="glyphicon glyphicon-home"></i></a>
        </nav>

        <section id="center_area">
            <div id="main_center_area">
                <div class="tab_area" id="first_tab_area">
                    {% if request.path == '/main' %}
                        <a href="/main" class="tab_button" id="main_button" style="background-color: #2d99d4; color: white">Main</a>
                    {% else %}
                        <a href="/main" class="tab_button" id="main_button">Main</a>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <div class="dropdown" id="league_top_tab_dropdown">
                            <a href="/league/all_players" class="dropdown-toggle" style="color: black">League</a>
                            <ul class="dropdown-menu">
                                <li><a href="/league/all_players">All Players</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">EXTENSIONS</li>
                                <li><a style="color: black" href="/league/extensions">Extensions</a></li>
                                <li><a style="color: black" href="/league/adp_info">ADP Info</a></li>
                                <li><a style="color: black" href="/league/performance_info">Performance Info</a></li>
                                <li class="divider"></li>
                                <li><a href="/league/league_transaction_log">Transaction Log</a></li>
                                <li class="divider"></li>
                                <li><a href="/league/free_agents">Free Agent List</a></li>
                                <li class="divider"></li>
                                <li><a href="/league/salary_lists">Salary Lists</a></li>
                                <li class="divider"></li>
                                <li><a href="/league/cap_summary">Cap Summary</a></li>
                            </ul>
                        </div>
                    {% else %}
                        {% if request.path == '/league/all_players' %}
                            <a href="/league/all_players" class="tab_button" id="league_button" style="background-color: #2d99d4; color: white">League</a>
                        {% else %}
                            <a href="/league/all_players" class="tab_button" id="league_button">League</a>
                        {% endif %}
                    {% endif %}

                    {% if user.is_authenticated %}

                        <div class="dropdown" id="team_top_tab_dropdown">
                            <a href="/team/organization" class="dropdown-toggle" style="color: black">Team</a>
                            <ul class="dropdown-menu">
                                <li><a href="/team/organization">Organization</a></li>
                                <li class="divider"></li>
                                <li><a href="/team/cap_situation">Cap Situation By Year</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">TRANSACTIONS</li>
                                <li><a style="color: black" href="/team/pending_transactions">Pending Transactions</a></li>
                                <li><a style="color: black" href="/team/trade">View Assets/Propose Trade</a></li>
                                <li><a style="color: black" href="/team/trade_log">Trade Log</a></li>
                                <li><a style="color: black" href="/team/release_players">Release Players</a></li>
                                <li><a style="color: black" href="/team/transactions">Transaction Log</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">ALERTS</li>
                                <li><a style="color: black" href="/team/alerts">Alerts</a></li>
                                <li><a style="color: black" href="/team/manage_alerts">Manage Alerts</a></li>
                                <li class="divider"></li>
                                <li><a href="/team/team_settings">Team Settings</a></li>
                            </ul>
                        </div>

                        {% if request.path == '/player' %}
                            <a href="/player" class="tab_button" id="player_button" style="background-color: #2d99d4; color: white">Player</a>
                        {% else %}
                            <a href="/player" class="tab_button" id="player_button">Player</a>
                        {% endif %}

                        {% if request.path == '/auction' %}
                            <a href="/auction" class="tab_button" id="auction_button" style="background-color: #2d99d4; color: white">Auction</a>
                        {% else %}
                            <a href="/auction" class="tab_button" id="auction_button">Auction</a>
                        {% endif %}

                        <div class="dropdown" id="draft_top_tab_dropdown">
                            <a href="/draft" class="dropdown-toggle" style="color: black">Draft</a>
                            <ul class="dropdown-menu">
                                <li><a href="/draft">Draft</a></li>
                                <li class="divider"></li>
                                <li><a href="/draft/settings">Draft Info and Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="/draft/future_draft_picks">Future Draft Picks</a></li>
                            </ul>
                        </div>

                        {% if request.path == '/message_board' %}
                            <a href="/message_board" class="tab_button" id="message_board_button" style="background-color: #2d99d4; color: white">Message Board</a>
                        {% else %}
                            <a href="/message_board" class="tab_button" id="message_board_button">Message Board</a>
                        {% endif %}

                    {% endif %}

                    {% if request.path == '/rules' %}
                        <a href="/rules" class="tab_button" id="rules_button" style="background-color: #2d99d4; color: white">Rules</a>
                    {% else %}
                        <a href="/rules" class="tab_button" id="rules_button">Rules</a>
                    {% endif %}
                </div>

                {% block content %}

                {% endblock %}

            </div>
        </section>
    </body>
</html>