<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dynasty League</title>
        <link rel="icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/dyno.css' %}">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-74107455-1', 'auto');
          ga('send', 'pageview');

        </script>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <nav class="nav_bar">
            {% if user.is_authenticated %}
                <a href="/logout" class="nav_button" id="logout_link" style="padding-left: 15px">Logout</a>
                <span style="font-size: 1.2em; float: right; padding-top: 11px; color: white">{{ user.get_username }}</span>
            {% else %}
                <a href="/login" class="nav_button" id="login_link">Login</a>
            {% endif %}
            <i class="glyphicon glyphicon-user" style="float: right; padding-top: 14px; padding-right: 5px; color: white"></i>

            <div class="dropdown" style="float: right; padding-right: 80px">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white"><i class="glyphicon glyphicon-link" style="padding-right: 8px"></i>Quick Links <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if request.user.is_staff %}
                        <li><a href="/admin">Admin</a></li>
                        <li><a href="/batch">Batch</a></li>
                        <li class="divider"></li>
                        <li><a href="/commish_office"><i class="glyphicon glyphicon-briefcase" style="padding-right: 8px"></i>Commish's Office</a></li>
                        <li class="divider"></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li><a href="/team/tags">Waiver Extension and Tags</a></li>
                        <li class="divider"></li>
                        <li><a href="/league/free_agents">Free Agent List</a></li>
                        <li><a href="/league/extensions">Extensions</a></li>
                        <li><a href="/team/pending_transactions">Pending Transactions</a></li>
                        <li><a href="/team/manage_alerts">Manage Alerts</a></li>
                        <li class="divider"></li>
                        <li><a href="/team/trade_log">Trade Log</a></li>
                        <li><a href="/team/trade">View Assets/Propose Trade</a></li>
                        <li class="divider"></li>
                    {% endif %}
                    <li><a href="/feature_list">Feature List & Changelog</a></li>
                    <li class="divider"></li>
                    <li><a href="/bug_tracking">Bug Tracking</a></li>
                    <li><a href="/feature_request">Feature Request</a></li>
                </ul>
            </div>

            <a href="/" class="nav_button" id="home_button" style="float: left; padding-left: 20px"><i class="glyphicon glyphicon-home"></i></a>
        </nav>

        <section id="center_area">
            <div id="main_center_area">
                <div class="tab_area" id="first_tab_area">
                    <a href="/main" class="tab_button" id="main_button">Main</a>
                    <a href="/league/all_players" class="tab_button" id="league_button" style="background-color: #2d99d4; color: white">League</a>

                    {% if user.is_authenticated %}
                        <a href="/team/organization" class="tab_button" id="team_button">Team</a>
                        <a href="/player" class="tab_button" id="player_button">Player</a>
                        <a href="/auction" class="tab_button" id="auction_button">Auction</a>
                        <a href="/draft" class="tab_button" id="draft_button">Draft</a>
                        <a href="/message_board" class="tab_button" id="message_board_button">Message Board</a>
                    {% endif %}

                    <a href="/rules" class="tab_button" id="rules_button">Rules</a>
                </div>

                <div class="tab_area" id="second_tab_area">
                    {% if request.path == '/league/all_players' %}
                        <a href="/league/all_players" class="second_tab_button_league" id="all_players_button" style="background-color: #2d99d4; color: white">All Players</a>
                    {% else %}
                        <a href="/league/all_players" class="second_tab_button_league" id="all_players_button">All Players</a>
                    {% endif %}

                    {% if user.is_authenticated %}

                        {% if request.path == '/league/extensions' %}
                            <a href="/league/extensions" class="second_tab_button_league" id="extensions_button" style="background-color: #2d99d4; color: white">Extensions</a>
                        {% elif request.path == '/league/adp_info' %}
                            <a href="/league/extensions" class="second_tab_button_league" id="extensions_button" style="background-color: #2d99d4; color: white">Extensions</a>
                        {% elif request.path == '/league/performance_info' %}
                            <a href="/league/extensions" class="second_tab_button_league" id="extensions_button" style="background-color: #2d99d4; color: white">Extensions</a>
                        {% else %}
                            <a href="/league/extensions" class="second_tab_button_league" id="extensions_button">Extensions</a>
                        {% endif %}

                        {% if request.path == '/league/league_transaction_log' %}
                            <a href="/league/league_transaction_log" class="second_tab_button_league" id="salary_lists_button " style="background-color: #2d99d4; color: white">Transaction Log</a>
                        {% else %}
                            <a href="/league/league_transaction_log" class="second_tab_button_league" id="salary_lists_button">Transaction Log</a>
                        {% endif %}

                        {% if request.path == '/league/free_agents' %}
                            <a href="/league/free_agents" class="second_tab_button_league" id="salary_lists_button " style="background-color: #2d99d4; color: white">Free Agent List</a>
                        {% else %}
                            <a href="/league/free_agents" class="second_tab_button_league" id="salary_lists_button">Free Agent List</a>
                        {% endif %}

                        {% if request.path == '/league/salary_lists' %}
                            <a href="/league/salary_lists" class="second_tab_button_league" id="salary_lists_button " style="background-color: #2d99d4; color: white">Salary Lists</a>
                        {% else %}
                            <a href="/league/salary_lists" class="second_tab_button_league" id="salary_lists_button">Salary Lists</a>
                        {% endif %}

                        {% if request.path == '/league/cap_summary' %}
                            <a href="/league/cap_summary" class="second_tab_button_league" id="cap_summary_button" style="background-color: #2d99d4; color: white">Cap Summary</a>
                        {% else %}
                            <a href="/league/cap_summary" class="second_tab_button_league" id="cap_summary_button">Cap Summary</a>
                        {% endif %}

                    {% endif %}
                </div>

                {% block content %}

                {% endblock %}

            </div>
        </section>
    </body>
</html>