<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dynasty League</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/dyno.css' %}">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <nav class="nav_bar">
            {% if user.is_authenticated %}
                <a href="/logout" class="nav_button" id="logout_link" style="padding-left: 15px">Logout</a>
                <span style="font-size: 1.2em; float: right; padding-top: 11px; color: white">{{ user.get_username }}</span>
                <i class="glyphicon glyphicon-user" style="float: right; padding-top: 14px; padding-right: 5px; color: white"></i>
            {% else %}
                <a href="/login" class="nav_button" id="login_link">Login</a>
            {% endif %}

            <div class="dropdown" style="float: right; padding-right: 80px">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white"><i class="glyphicon glyphicon-link" style="padding-right: 8px"></i>Quick Links <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if user.get_username == "sean" %}
                        <li><a href="/admin">Admin</a></li>
                        <li><a href="/batch">Batch</a></li>
                        <li><a href="/settings">Settings</a></li>
                    {% else %}
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="/bug_tracking">Bug Tracking</a></li>
                    <li><a href="/feature_request">Feature Request</a></li>
                </ul>
            </div>

            <a href="/" class="nav_button" id="home_button" style="float: left; padding-left: 20px"><i class="glyphicon glyphicon-home"></i></a>
        </nav>

        <section id="center_area">
            <div id="main_center_area">
                <div class="tab_area" id="first_tab_area">
                    <a href="/main" class="tab_button" id="main_button">Main</a>
                    <a href="/league/all_players" class="tab_button" id="league_button">League</a>
                    <a href="/team/organization" class="tab_button" id="team_button" style="background-color: #2d99d4; color: white">Team</a>
                    <a href="/player" class="tab_button" id="player_button">Player</a>
                    <a href="/auction" class="tab_button" id="auction_button">Auction</a>
                    <a href="/draft" class="tab_button" id="draft_button">Draft</a>
                    <a href="/message_board" class="tab_button" id="message_board_button">Message Board</a>

                    <a href="/rules" class="tab_button" id="rules_button">Rules</a>
                </div>

                <div class="tab_area" id="second_tab_area">
                    {% if request.path == '/team/organization' %}
                        <a href="/team/organization" class="second_tab_button_team" id="organize_team" style="background-color: #2d99d4; color: white">Organize Team</a>
                    {% else %}
                        <a href="/team/organization" class="second_tab_button_team" id="organize_team">Organize Team</a>
                    {% endif %}

                    {% if user_team == team_selected %}
                        {% if request.path == '/team/cap_situation' %}
                            <a href="/team/cap_situation" class="second_tab_button_team" id="cap_situation_by_year" style="background-color: #2d99d4; color: white">Cap Situation By Year</a>
                        {% else %}
                            <a href="/team/cap_situation" class="second_tab_button_team" id="cap_situation_by_year">Cap Situation By Year</a>
                        {% endif %}

                        {% if request.path == '/team/release_players' %}
                            <a href="/team/release_players" class="second_tab_button_team" id="team_level_cuts" style="background-color: #2d99d4; color: white">Release Players</a>
                        {% else %}
                            <a href="/team/release_players" class="second_tab_button_team" id="team_level_cuts">Release Players</a>
                        {% endif %}

                        {% if request.path == '/team/team_settings' %}
                            <a href="/team/team_settings" class="second_tab_button_team" id="team_settings" style="background-color: #2d99d4; color: white">Team Settings</a>
                        {% else %}
                            <a href="/team/team_settings" class="second_tab_button_team" id="team_settings">Team Settings</a>
                        {% endif %}
                    {% endif %}
                </div>

                {% block content %}

                {% endblock %}

            </div>
        </section>
    </body>
</html>