.nav_bar {
    height: 50px;
    background-color: #2d99d4;
}

.nav_button {
    float: right;
    color: #ffffff;
    padding-top: 13px;
}

.name_link {
    color: black;
}

.name_link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#login_link, #logout_link {
    padding-left: 5%;
    padding-right: 30px;
}

.dropdown {
    background-color: #2d99d4;
    padding-top: 14px;
}

.dropdown-menu li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #2c609b;
}


#center_area {
    padding: 1% 5% 2% 5%;
}

.tab_area {
    height: 6%;
    padding: 0px 4% 0px 4%;
}

#main_center_area {
    padding: 10px 10px 10px 10px;
    height: 800px;
    border-radius: 40px;
    border-style: double;
    border-width: 4px;
    border-color: #2d99d4;
}

#display_area {
    height: 82%;
    /*border: 1px solid green; */
}

.tab_button, .second_tab_button_league, .second_tab_button_team, .third_tab_button_team, .mini_tab_button_player {
    height: 90%;
    vertical-align: middle;
    color: black;
    background-color: white;
    padding-top: 0.55%;
    border-radius: 5px;
    border: 2px solid #cccccc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.15em;
}

.tab_button {
    width: 12%;
}

.second_tab_button_league {
    width: 16.1%;
}

.second_tab_button_team {
    width: 16.1%;
}

.third_tab_button_team {
    width: 19.4%;
}

.third_tab_button_team:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #2c609b;
}

#login_center_area {
    padding: 10% 40% 20% 40%;
}

#user_password_page_div {
    padding: 5% 40% 20% 40%;
}

#welcome_message {
    padding-left: 150px;
    padding-top: 0px;
}

#rules_text {
    width: 100%;
    height: 95%;
}

/* ALL PLAYERS DATAGRID */

#all_players_header {
    height: auto;
    width: 100%;
}

#all_players_header:hover {
    text-decoration: underline;
    cursor: pointer;
}
#all_players_filter_area {
    height: auto;
    max-height: 35%;
    width: 100%;
    float: left;
}

#all_players_filter_1 {
    display: inline-block;
    width: 20%;
    float: left;
}

#all_players_filter_2 {
    display: inline-block;
    width: 20%;
    float: left;
}

#all_players_filter_3 {
    display: inline-block;
    width: 20%;
    float: left;
}

#all_players_filter_4 {
    display: inline-block;
    width: 20%;
    float: left;
}

#all_players_filter_5 {
    display: inline-block;
    width: 20%;
}

.all_players_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.all_players_datagrid {
    height: auto;
    width: 100%;
    max-height: 100%;
    float: left;
    padding-top: 1%;
    font: normal 0.75em/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow-y: scroll;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.all_players_datagrid table td, .all_players_datagrid table th {
    padding: 4px 4px;
}
.all_players_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-size: 1.15em;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.all_players_datagrid table thead th:first-child {
    border: none;
}
.all_players_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
}
.all_players_datagrid table tbody td:first-child {
    border-left: none;
}
.all_players_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.all_players_datagrid th:hover {
    cursor: pointer;
}

.all_players_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

/* SALARY LISTS DATAGRID */

.salary_lists_datagrid table {
    border-collapse: collapse;
    width: 100%;
}
.salary_lists_datagrid {
    height: 550px;
    padding-top: 1%;
    font: normal 0.75em/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow-y: scroll;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.salary_lists_datagrid table td, .salary_lists_datagrid table th {
    padding: 4px 4px;
}
.salary_lists_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-size: 1.15em;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.salary_lists_datagrid table thead th:first-child {
    border: none;
}
.salary_lists_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
}

.salary_lists_datagrid table tbody td:first-child {
    border-left: none;
}
.salary_lists_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.salary_lists_data_aux {
    background-color: #dcdcdc;
}

/* CAP SUMMARY DATAGRID */

.cap_summary_datagrid table {
    border-collapse: collapse;
}
.cap_summary_datagrid {
    height: 100%;
    padding-top: 1%;
    padding-left: 30%;
    font: normal 0.75em/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.cap_summary_datagrid table td, .cap_summary_datagrid table th {
    padding: 4px 4px;
}
.cap_summary_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-size: 1.15em;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.cap_summary_datagrid table thead th:first-child {
    border: none;
}
.cap_summary_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
}
.cap_summary_datagrid table tbody td:first-child {
    border-left: none;
}
.cap_summary_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.cap_summary_datagrid th:hover {
    cursor: pointer;
}

.cap_summary_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}




/* TEAM ORGANIZATION DATAGRID */

.team_organization_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.team_organization_datagrid {
    width: 100%;
    font: normal 0.75em/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.team_organization_datagrid table td {
    padding: 4px 4px;
}

.team_organization_datagrid table th {
    padding: 4px 0px;
}

.team_organization_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-size: 1.15em;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.team_organization_datagrid table thead th:first-child {
    border: none;
}
.team_organization_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.team_organization_datagrid table tbody td:first-child {
    border-left: none;
}
.team_organization_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.team_organization_data_aux {
    background-color: #dcdcdc;
}

.team_organization_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

.team_organization_datagrid th:hover {
    cursor: pointer;
}


/* END TEAM ORG DATA GRID */

#team_selection_dropdown {
    width: 20%;
    float: right;
    height: 90%;
    vertical-align: middle;
    color: black;
    background-color: white;
    padding-top: 0.55%;
    border-radius: 5px;
    border: 2px solid #cccccc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.15em;
}

#organize_page_header {
    height: 8%;
    width: 100%;
}

#team_header_nickname, #team_header_name {
    display: inline-block;
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}

#team_header_nickname {
    width: 50%;
    float: left;
    text-align: right;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    border-left: 1px solid #b4b4b4;
}

#team_header_name {
    width: 50%;
    text-align: left;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
}

#save_role_changes_button {
    border-radius: 5px;
    font-size: 1em;
}

#flex_players_selection_area {
    width: 100%;
    height: auto;
    float: left;
}

#organization_left_area {
    float: left;
    height: 88%;
    width: 15%;
    display: inline-block;
}

#organization_form_area {
    height: 88%;
    width: 70%;
    display: inline-block;
}

#organization_form {
    width: 100%;
    height: 100%;
    display: inline-block;
    float: left;
}

#organization_first_column {
    display: inline-block;
    float: left;
    height: 100%;
    width: 45%;
}

#organization_middle_gap {
    display: inline-block;
    float: left;
    height: 100%;
    width: 1%;
}

#organization_second_column {
    display: inline-block;
    float: left;
    height: 100%;
    width: 45%;
}

.right_interaction_area {
    width: 15%;
    height: 88%;
    display: inline-block;
    float: right;
}

#organization_starters_area {
    height: 60%;
    width: 100%;
}

#organization_def_and_kickers_area {
    height: 40%;
    width: 100%;
}

#organization_bench_area {
    height: 60%;
    width: 100%;
}

#organization_developmental_area {
    height: 40%;
    width: 100%;
}

#view_selection_area {
    float: right;
    height: 70px;
    width: 90%;
}

#total_cost_div {
    border: 1px solid #b4b4b4;
    height: 25%;
    width: 100%;
    text-align: center;
}

#cap_penalty_div {
    border: 1px solid #b4b4b4;
    height: 25%;
    width: 100%;
    text-align: center;
}

#cap_space_div {
    border: 1px solid #b4b4b4;
    height: 25%;
    width: 100%;
    text-align: center;
}

#team_info_display {
    width: 95%;
    height: 60%;
    padding-left: 20px;
}

#by_pos_view {
    height: 90%;
    width: 100%;
    float: left;
}

#by_pos_main_area {
    height: 100%;
    width: 85%;
    float: left;
    display: inline-block;
}



/* TEAM BY POS DATAGRID */

.team_by_pos_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.team_by_pos_datagrid {
    width: 100%;
    font: normal 0.75em/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow-y: auto;
    display: inline-block;
}

.team_by_pos_datagrid table td, .team_by_pos_datagrid table th {
    padding: 4px 4px;
}
.team_by_pos_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-size: 1.15em;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.team_by_pos_datagrid table thead th:first-child {
    border: none;
}
.team_by_pos_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.team_by_pos_datagrid table tbody td:first-child {
    border-left: none;
}
.team_by_pos_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.team_by_pos_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

.team_by_pos_datagrid th:hover {
    cursor: pointer;
}

/* END TEAM BY POS DATA GRID */

#by_pos_first_column, #by_pos_second_column, #by_pos_third_column, #by_pos_fourth_column {
    display: inline-block;
    float: left;
    height: 100%;
    width: 23.5%;
}

.by_pos_column_gap {
    display: inline-block;
    float: left;
    height: 100%;
    width: 2%;
}






/* TEAM CAP SITUATION DATAGRID */

.team_cap_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.team_cap_datagrid {
    width: 100%;
    padding-top: 10px;
    font: normal 0.75em/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.team_cap_datagrid table td, .team_cap_datagrid table th {
    padding: 4px 4px;
}
.team_cap_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-size: 1.15em;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.team_cap_datagrid table thead th:first-child {
    border: none;
}
.team_cap_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.team_cap_datagrid table tbody td:first-child {
    border-left: none;
}
.team_cap_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.team_cap_data_aux {
    background-color: #dcdcdc;
}

.team_cap_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

.team_cap_datagrid th:hover {
    cursor: pointer;
}

/* END TEAM ORG DATA GRID */

#team_info_div {
    width: 100%;
    height: 10%;
    padding-bottom: 20px;
    text-align: center;
}

#total_cost_cap_sit_div {
    height: 100%;
    width: 15%;
    display: inline-block;
    text-align: center;
}

#cap_penalty_cap_sit_div {
    height: 100%;
    width: 15%;
    display: inline-block;
    text-align: center;
}

#cap_space_cap_sit_div {
    height: 100%;
    width: 15%;
    display: inline-block;
    text-align: center;
}

#num_players_cap_sit_div {
    height: 100%;
    width: 15%;
    display: inline-block;
    text-align: center;
}



/* TEAM - RELEASE PLAYERS */

#team_release_table_area {
    float: left;
    display: inline-block;
    width: 70%;
    height: 100%;
    /*border: 1px solid green;*/
}

#team_release_right_area {
    display: inline-block;
    width: 30%;
    height: 100%;
    /*border: 1px solid blue;*/
}

#team_release_button_area {
    width: 100%;
    height: 10%;
    /*border: 1px dotted blue;*/
}

#team_release_right_table_1_area {
    width: 100%;
    height: 40%;
    /*border: 1px dotted blue;*/
}

#team_release_right_table_2_area {
    width: 100%;
    height: 50%;
    /*border: 1px dotted red;*/
}

.team_release_right_cells {
    height: 30px;
    width: 25%;
    text-align: center;
    font-size: small;
    /*border: 1px solid red;*/
}

/* datagrid */

.team_release_datagrid table {
    border-collapse: collapse;
    width: 100%;
}

.team_release_datagrid {
    width: 100%;
    height: 94%;
    font: normal 0.75em/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow-y: scroll;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.team_release_datagrid table td, .team_release_datagrid table th {
    padding: 4px 4px;
}
.team_release_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-size: 1.15em;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.team_release_datagrid table thead th:first-child {
    border: none;
}
.team_release_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.team_release_datagrid table tbody td:first-child {
    border-left: none;
}
.team_release_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.team_release_data_aux {
    background-color: #dcdcdc;
}

/* END: TEAM - RELEASE PLAYERS */



/* BUG TRACKING */

.bug_tracking_table {
    width: 100%;
    height: 94%;
    overflow-y: scroll;
}

.bug_tracking_table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.bug_tracking_table td {
    font-size: small;
    border: 1px solid #dcdcdc;
    padding: 4px 4px;
}

#bug_tracking_container {
    height: 50px;
}

#bug_tracking_container > div {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.bug_tracking_table th {
    border: 1px solid #dcdcdc;
    padding: 4px 4px;
}

/* END: BUG TRACKING */

/* NEW BUG */

#new_bug_report_area {
    height: 95%;
    width: 50%;
    float: left;
    display: inline-block;
    padding-right: 20px;
}

#new_bug_report_subarea {
    height: 70%;
    width: 100%;
}

#report_text {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 10px;
}

#new_bug_auto_info_area {
    height: 82%;
    width: 50%;
    display: inline-block;
    padding-left: 100px;
}

/* END: NEW BUG */



/* FEATURE LIST */

#feature_list_area {
    display: inline-block;
    width: 50%;
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
}

#changelog_area {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
}

/* END: FEATURE LIST */



/* AUCTION PAGE */

#start_new_auction_area {
    width: 80%;
    height: 25%;
    display: inline-block;
    float: left;
}

#beware_multiple_names_area {
    width: 20%;
    height: auto;
    max-height: 25%;
    display: inline-block;
}

#active_auctions_table_area {
    width: 100%;
    height: 70%;
    float: left;
}

#show_hide_dup_players:hover {
    text-decoration: underline;
    cursor: pointer;
}

#show_hide_new_auction:hover {
    text-decoration: underline;
    cursor: pointer;
}

#auction_page_bottom_area {
    width: 100%;
    height: 15%;
    padding-top: 2%;
    float: left;
}

#submit_auction_bids_div {
    width: 10%;
    float: right;
    height: 80%;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}


.active_auctions_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.active_auctions_datagrid {
    height: 100%;
    width: 90%;
    padding-top: 10px;
    background: #fff;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    float: left;
}

.active_auctions_datagrid table td, .active_auctions_datagrid table th {
    padding: 4px 4px;
}
.active_auctions_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.active_auctions_datagrid table thead th:first-child {
    border: none;
}
.active_auctions_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.active_auctions_datagrid table tbody td:first-child {
    border-left: none;
}
.active_auctions_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.active_auctions_data_aux {
    background-color: #dcdcdc;
}

.active_auctions_datagrid thead:hover {
    cursor: pointer;
}

/* END: AUCTION PAGE */

.commish_view_model_button {
    font-size: 1.25em;
    color: red;
}



/* COMMISH TRANSACTIONS PAGE */

#commish_trans_date_filters_area {
    width: 100%;
    height: 10%;
    float: left;
}

#commish_trans_cat_filters_area {
    width: 20%;
    height: 90%;
    display: inline-block;
    float: right;
    margin-top: 20px;
    overflow-y: auto;
}

.commish_trans_date_button {
    display: inline-block;
    margin-top: 15px;
}

.commish_transactions_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.commish_transactions_datagrid {
    width: 80%;
    padding-top: 10px;
    background: #fff;
    font-size: 0.75em;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.commish_transactions_datagrid table td, .commish_transactions_datagrid table th {
    padding: 4px 4px;
}
.commish_transactions_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.commish_transactions_datagrid table thead th:first-child {
    border: none;
}
.commish_transactions_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.commish_transactions_datagrid table tbody td:first-child {
    border-left: none;
}
.commish_transactions_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.commish_transactions_data_aux {
    background-color: #dcdcdc;
}

.commish_transactions_datagrid th:hover {
    cursor: pointer;
}

/* END: COMMISH TRANSACTIONS PAGE */



/* TEAM PENDING TRANSACTIONS */

.team_pending_transactions_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.team_pending_transactions_datagrid {
    width: 100%;
    padding-top: 10px;
    background: #fff;
    font-size: 0.75em;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.team_pending_transactions_datagrid table td, .team_pending_transactions_datagrid table th {
    padding: 4px 4px;
}
.team_pending_transactions_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.team_pending_transactions_datagrid table thead th:first-child {
    border: none;
}
.team_pending_transactions_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.team_pending_transactions_datagrid table tbody td:first-child {
    border-left: none;
}
.team_pending_transactions_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.team_pending_transactions_data_aux {
    background-color: #dcdcdc;
}

/* END: TEAM PENDING TRANSACTIONS */




/* SET CONTRACT STRUCTURE */

#setconstr_header_area {
    /*border: 1px solid red;*/
    width: 50%;
    height: 35%;
    display: inline-block;
}

#setconstr_instructions_area {
    /*border: 1px solid green;*/
    width: 50%;
    height: 35%;
    float: right;
    padding: 0px 20px 20px 60px;
    display: inline-block;
}

#setconstr_contract_area {
    /*border: 1px solid blue;*/
    width: 60%;
    height: 65%;
    float: left;
    display: inline-block;
}

#setconstr_cap_tables_area {
    /*border: 1px solid purple;*/
    margin-top: 20px;
    width: 40%;
    height: 65%;
    display: inline-block;
}

.setconstr_cell {
    text-align: center;
    height: 35px;
}

.setconstr_totals_message_red {
    text-align: center;
    height: 35px;
    color: red;
}

/* END: SET CONTRACT STRUCTURE */




/* COMMISH PENDING TRANSACTIONS */

.commish_pending_transactions_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.commish_pending_transactions_datagrid {
    width: 100%;
    padding-top: 10px;
    background: #fff;
    font-size: 0.75em;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.commish_pending_transactions_datagrid table td, .commish_pending_transactions_datagrid table th {
    padding: 4px 4px;
}
.commish_pending_transactions_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.commish_pending_transactions_datagrid table thead th:first-child {
    border: none;
}
.commish_pending_transactions_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.commish_pending_transactions_datagrid table tbody td:first-child {
    border-left: none;
}
.commish_pending_transactions_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.commish_pending_transactions_data_aux {
    background-color: #dcdcdc;
}

.date_link:hover {
    cursor: pointer;
}

/* END: COMMISH PENDING TRANSACTIONS */




/* TRANSACTION - SINGLE PLAYER */

#old_data_area {
    width: 50%;
    height: 85%;
    display: inline-block;
    float: left;
    overflow-y: auto;
}

#new_data_area {
    width: 50%;
    height: 85%;
    display: inline-block;
    overflow-y: auto;
}

#submit_button_area {
    width: 100%;
    height: 6%;
    float: left;
}

#show_transaction_data_area {
    width: 100%;
    height: 18%;
    float: left;
}

.trans_single_row {
    padding-left: 100px;
    height: 22px;
}

.trans_single_header {
    display: inline-block;
    width: 30%;
}

.trans_single_text {
    display: inline-block;
}

.trans_single_table_header_cell {
    width: 200px;
    text-align: center;
}

.trans_single_table_text_cell {
    width: 200px;
    text-align: center;
}

/* END: TRANSACTION - SINGLE PLAYER */




/* TRANSACTION - TRADE */

#trans_trade_top_area {
    height: 40%;
    width: 100%;
    float: left;
    overflow-y: auto;
}

#trans_trade_middle_area {
    height: 35%;
    width: 100%;
    float: left;
    overflow-y: auto;
}

/* END: TRANSACTION - TRADE */





/* TEAM: MANAGE ALERTS */

#periodic_alerts_area {
    border: 1px solid #cccccc;
    width: 100%;
    height: 30%;
    float: left;
    padding: 10px 10px 10px 10px;
}

#instant_alerts_area {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    height: 70%;
    float: left;
    padding: 10px 10px 10px 10px;
}

/* END: TEAM: MANAGE ALERTS */



/* TEAM: ALERTS */

#team_alerts_date_filters_area {
    width: 100%;
    height: 10%;
    float: left;
}

#team_alerts_cat_filters_area {
    width: 20%;
    height: 80%;
    display: inline-block;
    float: right;
    margin-top: 20px;
    overflow-y: auto;
}

.team_alerts_date_button {
    display: inline-block;
    margin-top: 15px;
}

.team_alerts_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.team_alerts_datagrid {
    width: 80%;
    padding-top: 10px;
    background: #fff;
    font-size: 0.75em;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.team_alerts_datagrid table td, .team_alerts_datagrid table th {
    padding: 4px 4px;
}
.team_alerts_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.team_alerts_datagrid table thead th:first-child {
    border: none;
}
.team_alerts_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.team_alerts_datagrid table tbody td:first-child {
    border-left: none;
}
.team_alerts_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.team_alerts_data_aux {
    background-color: #dcdcdc;
}

.team_alerts_datagrid th:hover {
    cursor: pointer;
}

/* END: TEAM: ALERTS */





/* TEAM TRANSACTIONS PAGE */

#team_trans_date_filters_area {
    width: 100%;
    height: 10%;
    float: left;
}

#team_trans_cat_filters_area {
    width: 20%;
    height: 80%;
    display: inline-block;
    float: right;
    margin-top: 20px;
    overflow-y: auto;
}

.team_trans_date_button {
    display: inline-block;
    margin-top: 15px;
}

.team_transactions_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.team_transactions_datagrid {
    width: 80%;
    padding-top: 10px;
    background: #fff;
    font-size: 0.75em;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.team_transactions_datagrid table td, .team_transactions_datagrid table th {
    padding: 4px 4px;
}
.team_transactions_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.team_transactions_datagrid table thead th:first-child {
    border: none;
}
.team_transactions_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.team_transactions_datagrid table tbody td:first-child {
    border-left: none;
}
.team_transactions_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.team_transactions_data_aux {
    background-color: #dcdcdc;
}

.team_transactions_datagrid th:hover {
    cursor: pointer;
}

/* END: TEAM TRANSACTIONS PAGE */




/* COMMISH ALL ALERTS */

#commish_alerts_date_filters_area {
    width: 100%;
    height: 10%;
    float: left;
}

#commish_alerts_cat_filters_area {
    width: 20%;
    height: 80%;
    display: inline-block;
    float: right;
    margin-top: 20px;
    overflow-y: auto;
}

.commish_alerts_date_button {
    display: inline-block;
    margin-top: 15px;
}

.commish_alerts_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.commish_alerts_datagrid {
    width: 80%;
    padding-top: 10px;
    background: #fff;
    font-size: 0.75em;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.commish_alerts_datagrid table td, .commish_alerts_datagrid table th {
    padding: 4px 4px;
}
.commish_alerts_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.commish_alerts_datagrid table thead th:first-child {
    border: none;
}
.commish_alerts_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.commish_alerts_datagrid table tbody td:first-child {
    border-left: none;
}
.commish_alerts_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.commish_alerts_data_aux {
    background-color: #dcdcdc;
}

.commish_alerts_datagrid th:hover {
    cursor: pointer;
}

/* END: COMMISH ALL ALERTS */




/* COMMISH PENDING ALERTS */

#commish_pending_alerts_date_filters_area {
    width: 100%;
    height: 10%;
    float: left;
}

#commish_pending_alerts_cat_filters_area {
    width: 20%;
    height: 80%;
    display: inline-block;
    float: right;
    margin-top: 20px;
    overflow-y: auto;
}

.commish_pending_alerts_date_button {
    display: inline-block;
    margin-top: 15px;
}

.commish_pending_alerts_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.commish_pending_alerts_datagrid {
    width: 80%;
    padding-top: 10px;
    background: #fff;
    font-size: 0.75em;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.commish_pending_alerts_datagrid table td, .commish_pending_alerts_datagrid table th {
    padding: 4px 4px;
}
.commish_pending_alerts_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.commish_pending_alerts_datagrid table thead th:first-child {
    border: none;
}
.commish_pending_alerts_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.commish_pending_alerts_datagrid table tbody td:first-child {
    border-left: none;
}
.commish_pending_alerts_datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.commish_pending_alerts_data_aux {
    background-color: #dcdcdc;
}

.commish_pending_alerts_datagrid th:hover {
    cursor: pointer;
}

/* END: COMMISH PENDING ALERTS */



/* TAGS */

#tags_table_area {
    width: 100%;
    height: 50%;
    float: left;
}

#tags_selection_area {
    width: 50%;
    height: 50%;
    float: left;
    display: inline-block;
    padding: 5px 5px 5px 5px;
}

#tags_rules_area {
    width: 50%;
    height: 50%;
    float: left;
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

.tags_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.tags_datagrid {
    width: 100%;
    padding-top: 10px;
    background: #fff;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.tags_datagrid table td, .tags_datagrid table th {
    padding: 4px 4px;
}
.tags_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.tags_datagrid table thead th:first-child {
    border: none;
}
.tags_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 0.85em;
    font-weight: normal;
    overflow-x: hidden;
}

.tags_datagrid table tbody td:first-child {
    border-left: none;
}
.tags_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.tags_datagrid th:hover {
    cursor: pointer;
}

.tags_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

/* END: TAGS */




/* ADP */

.adp_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.adp_datagrid {
    padding-left: 20%;
    width: 40%;
    height: 90%;
    margin-top: 40px;
    background: #fff;
    overflow-y: auto;
    display: inline-block;
}

.adp_datagrid table td, .adp_datagrid table th {
    padding: 4px 4px;
}
.adp_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.adp_datagrid table thead th:first-child {
    border: none;
}
.adp_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 0.85em;
    font-weight: normal;
    overflow-x: hidden;
}

.adp_datagrid table tbody td:first-child {
    border-left: none;
}
.adp_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.adp_datagrid th:hover {
    cursor: pointer;
}

.adp_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

/* END: ADP */



/* PERFORMANCE */

.performance_yr_1_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.performance_yr_1_datagrid {
    width: 40%;
    height: 90%;
    margin-top: 40px;
    background: #fff;
    overflow-y: auto;
    float: left;
    display: inline-block;
}

.performance_yr_1_datagrid table td, .performance_yr_1_datagrid table th {
    padding: 4px 4px;
}
.performance_yr_1_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.performance_yr_1_datagrid table thead th:first-child {
    border: none;
}
.performance_yr_1_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 0.85em;
    font-weight: normal;
    overflow-x: hidden;
}

.performance_yr_1_datagrid table tbody td:first-child {
    border-left: none;
}
.performance_yr_1_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.performance_yr_1_datagrid th:hover {
    cursor: pointer;
}

.performance_yr_1_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

.performance_yr_2_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.performance_yr_2_datagrid {
    padding-left: 5%;
    width: 40%;
    height: 90%;
    margin-top: 40px;
    background: #fff;
    overflow-y: auto;
    display: inline-block;
}

.performance_yr_2_datagrid table td, .performance_yr_2_datagrid table th {
    padding: 4px 4px;
}
.performance_yr_2_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.performance_yr_2_datagrid table thead th:first-child {
    border: none;
}
.performance_yr_2_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 0.85em;
    font-weight: normal;
    overflow-x: hidden;
}

.performance_yr_2_datagrid table tbody td:first-child {
    border-left: none;
}
.performance_yr_2_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.performance_yr_2_datagrid th:hover {
    cursor: pointer;
}

.performance_yr_2_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

/* END: PERFORMANCE */





/* EXTENSIONS */

#extensions_filter_area {
    height: 5%;
    width: 100%;
    float: left;
    padding-top: 10px;
    margin-left: 25%;
}

.extensions_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.extensions_datagrid {
    padding-top: 10px;
    width: 80%;
    height: 90%;
    background: #fff;
    overflow-y: auto;
    display: inline-block;
}

.extensions_datagrid table td, .extensions_datagrid table th {
    padding: 4px 4px;
}
.extensions_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
    font-size: 0.85em;
}
.extensions_datagrid table thead th:first-child {
    border: none;
}
.extensions_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 0.85em;
    font-weight: normal;
    overflow-x: hidden;
}

.extensions_datagrid table tbody td:first-child {
    border-left: none;
}
.extensions_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.extensions_datagrid th:hover {
    cursor: pointer;
}

.extensions_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

/* END: EXTENSIONS */




/* COMMISH OFFICE */

#commish_office_first_column  {
    display: inline-block;
    float: left;
    width: 45%;
    height: 100%;
}

#commish_office_second_column {
    display: inline-block;
    float: left;
    width: 45%;
    height: 100%;
}

#commish_office_third_column {
    display: inline-block;
    float: left;
    width: 10%;
    height: 100%;
 }


/* END: COMMISH OFFICE */




/* TRADE */

#trade_top_area {
    width: 100%;
    height: 8%;
    float: left;
}

#trade_left_area {
    width: 49%;
    height: 90%;
    float: left;
}

#trade_right_area {
    width: 49%;
    height: 90%;
    float: right;
}

#trade_left_players_area {
    border: 1px solid #dcdcdc;
    padding-left: 5px;
    margin-bottom: 15px;
    display: inline-block;
    width: 95%;
    height: 80%;
    float: left;
    overflow-y: auto;
}

#trade_left_players_area table td {
    font-size: small;
}

#trade_left_players_area table th {
    font-size: small;
}

#trade_left_picks_area {
    border: 1px solid #dcdcdc;
    padding-left: 5px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    height: 60%;
    float: left;
    overflow-y: auto;
}

#trade_left_picks_area table td {
    font-size: small;
}

#trade_left_assets_area {
    border: 1px solid #dcdcdc;
    padding-left: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 100%;
    height: 40%;
    float: left;
    overflow-y: auto;
}

#trade_left_assets_area table td {
    font-size: small;
}

#trade_left_cash_area {
    border: 1px solid #dcdcdc;
    padding-left: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 95%;
    height: 20%;
    float: left;
    overflow-y: auto;
}

#trade_left_cash_area table td {
    font-size: small;
}



#trade_right_players_area {
    border: 1px solid #dcdcdc;
    padding-left: 5px;
    margin-bottom: 15px;
    display: inline-block;
    width: 95%;
    height: 80%;
    float: left;
    overflow-y: auto;
}

#trade_right_players_area table td {
    font-size: small;
}

#trade_right_players_area table th {
    font-size: small;
}

#trade_right_picks_area {
    border: 1px solid #dcdcdc;
    padding-left: 5px;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    height: 60%;
    float: left;
    overflow-y: auto;
}

#trade_right_picks_area table td {
    font-size: small;
}

#trade_right_assets_area {
    border: 1px solid #dcdcdc;
    padding-left: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 100%;
    height: 40%;
    float: left;
    overflow-y: auto;
}

#trade_right_assets_area table td {
    font-size: small;
}

#trade_right_cash_area {
    border: 1px solid #dcdcdc;
    padding-left: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 95%;
    height: 20%;
    float: left;
    overflow-y: auto;
}

#trade_right_cash_area table td {
    font-size: small;
}

/* END: TRADE */


/* TEAM TRADE LOG PAGE */

#team_trade_log_date_filters_area {
    width: 100%;
    height: 10%;
    float: left;
}

.team_trade_log_date_button {
    display: inline-block;
    margin-top: 15px;
}

#team_trade_log_details_area {
    border: 1px solid green;
    height: 50%;
    width: 100%;
    float: left;
}

.team_trade_log_datagrid table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.team_trade_log_datagrid {
    width: 100%;
    height: 90%;
    padding-top: 10px;
    background: #fff;
    font-size: 0.75em;
    overflow-y: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
}

.team_trade_log_datagrid table td, .team_trade_log_datagrid table th {
    padding: 4px 4px;
}
.team_trade_log_datagrid table thead th {
    background-color:#2d99d4;
    color:#FFFFFF;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}
.team_trade_log_datagrid table thead th:first-child {
    border: none;
}
.team_trade_log_datagrid table tbody td {
    color: black;
    border-left: 1px solid #E1EEF4;
    font-size: 1em;
    font-weight: normal;
    overflow-x: hidden;
}

.team_trade_log_datagrid table tbody td:first-child {
    border-left: none;
}
.team_trade_log_datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.team_trade_log_datagrid tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

.team_trade_log_datagrid th:hover {
    cursor: pointer;
}

/* END: TEAM TRADE LOG PAGE */




/* FREE AGENT LIST */

#free_agent_list_table th:hover {
    cursor: pointer;
}

#free_agent_list_table tbody tr:nth-child(even) {
    background-color: #dcdcdc;
}

/* END: FREE AGENT LIST */


#draft_top_tab_dropdown {
    width: 12%;
    height: 90%;
    vertical-align: middle;
    color: black;
    background-color: white;
    padding-top: 0.55%;
    border-radius: 5px;
    border: 2px solid #cccccc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.15em;
}

#league_top_tab_dropdown {
    width: 12%;
    height: 90%;
    vertical-align: middle;
    color: black;
    background-color: white;
    padding-top: 0.55%;
    border-radius: 5px;
    border: 2px solid #cccccc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.15em;
}

#team_top_tab_dropdown {
    width: 12%;
    height: 90%;
    vertical-align: middle;
    color: black;
    background-color: white;
    padding-top: 0.55%;
    border-radius: 5px;
    border: 2px solid #cccccc;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.15em;
}